body{
    background: white;
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
}

.globe{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: rgb(239, 250, 252);
    box-shadow: inset -20px 5px rgba(150, 150, 150, 0.1);
    background: radial-gradient(circle ,rgb(194, 250, 252),rgb(239, 250, 252));
    z-index:-3;
    position:relative;
    border: rgb(79, 129, 136,.5);
}
.star1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: radial-gradient(#fff 4px, transparent 5px), radial-gradient(#fff .2px, transparent 7px);
    background-size: calc(80 * 1px) calc(80 * 1px);
    background-position: 100 -50, calc(15 * 5px) calc(25 * 5px);
    position:absolute;
    z-index:-1;
    left:10px;
}
.star2{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: radial-gradient(#fff 0px, transparent 0px), radial-gradient(#fff .5px, transparent 7px);
    background-size: calc(80 * 1px) calc(80 * 1px);
    background-position: 0 0, calc(15 * 5px) calc(25 * 5px);
    position:absolute;
    z-index:-2;
    left:40px;
}
.holder{
    height: 80px;
    width: 240px;
    transform: translate(-50%, -50%);
    background: rgb(92, 91, 91);
    border-radius: 10%;
    top:300px;
    left: 150px;
    position:absolute;
    box-shadow: inset -20px 0px rgba(85, 84, 84, 0.5);
}

.house-bottom{
    height: 45px;
    width:50px;
    background:rgb(136, 73, 2);
    background: linear-gradient(black);
    position: relative;
    left: 50px;
    top:120px;
    z-index:-1;
}

.house-roof{
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgb(9, 148, 102);
    position:absolute;
    top: 90px;
    left:45px;
}

.house-pipe{
    width:5px;
    height:10px;
    background: grey;
    position:absolute;
    left:55px;
    top:100px;
}
.house-door{
    width:15px;
    height:20px;
    background: rgb(65, 30, 1);
    position:absolute;
    left:70px;
    top:145px;
}
.house{
    top: 70px;
    left:100px;
    position:absolute;
}

 .sand1{
    position: absolute;
    top: 87%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 180px;
    z-index:-1;
    border-radius: 250px 250px 0 0;
    background-color: rgb(219, 218, 216);
}
.sand2{
    position: absolute;
    top: 85%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    z-index:-2;
    border-radius: 450px 450px 0 0;
    background-color: rgb(189, 188, 188);
}